## 設定ファイルのバージョンです。変更しないでください。
version: 2

## Prefix
prefix: "FLR>> "

## 制限を適用しない例外ワールドの設定
IgnoreWorlds:
  - "ENTER"
  - "IGNORE"
  - "WORLD's"
  - "NAME"

## 着火関係の設定
RestrictIgnite:
  ## falseにすると要因ごとに設定できます。
  force: true
  ## falseにするとメッセージは流れなくなります。
  message: true
  content: "ブロックへの着火をキャンセルしました！"
### 個別の着火要因による制限
#### 火打ち石による着火を制限
ByFlintAndSteel: true
#### 延焼による着火を制限
ByFireSpread: true
#### マグマによる着火を制限
ByLava: true
#### 雷による着火の制限
ByLightning: true
#### ファイアーボールによる着火の制限
ByFireBall: true
#### 爆発による着火の制限
ByExplosion: true

## 爆発の制限
CancelExplosion:
  ## falseにすると爆発を許可します。
  force: true
  ## falseにするとメッセージは流れなくなります。
  message: true
  content: "爆発をキャンセルしました！"

## バケツによる設置の制限
RestrictUsingBucket:
  ## falseにすると爆発を許可します。
  force: true
  ## falseにするとメッセージは流れなくなります。
  message: true
  content: "液体の設置・取得をキャンセルしました！"
### 個別の設定
### マグマ
RestrictUsingLavaBucket: true
### 水
RestrictUsingWatarBucket: true

## 水・マグマブロックの設置の制限
RestrictPlace:
  ## falseにすると爆発を許可します。
  force: true
  ## falseにするとメッセージは流れなくなります。
  message: true
  content: "液体プロックの設置をキャンセルしました！"
### 個別の設定
### マグマ
RestrictPlaceLava: true
### 水
RestrictPlaceWatar: true

## 水・マグマの流れを制限
RestrictFlow:
  ## falseにすると爆発を許可します。
  force: true
  ## falseにするとメッセージは流れなくなります。
  message: true
  content: "液体の流出をキャンセルしました！"
### 個別の設定
### マグマ
RestrictFlowLava: true
### 水
RestrictFlowWatar: true